<section class="content-header">
    <h1>Utilisateurs</h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Utilisateurs</li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-body no-padding-x no-padding-y">
            <div class="modal fade" id="deleteUserConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="deleteForm" ng-submit="confirmDelete(userToDeleteId)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;</button>
                                <h4 class="modal-title">Confirmation de la suppression</h4>
                            </div>
                            <div class="modal-body">
                                <p>Etes vous sur de vouloir supprimer cet utilisateur ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
                                </button>
                                <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Supprimer</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td class="text-right">
                            <button type="submit"
                                    ui-sref="user.edit({id:user.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Modifier</span>
                            </button>
                            <button type="submit"
                                    ng-click="delete(user.id)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Supprimer</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary" ui-sref="user.new">
                <span class="glyphicon glyphicon-flash"></span> <span>Ajouter un utilisateur</span>
            </button>
        </div>
    </div>
</section>