<section class="content-header">
    <h1>Tableau de board</h1>
    <ol class="breadcrumb">
        <li class="active"><a href=""><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-graduation-cap"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Etudiants</span>
                    <span class="info-box-number">{{dashboard.nbStudents}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-user"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Intervenants</span>
                    <span class="info-box-number">{{dashboard.nbTeachers}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Promotions</span>
                    <span class="info-box-number">{{dashboard.nbGrades}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-eye"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cops</span>
                    <span class="info-box-number">{{dashboard.nbCops}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Dernieres modifications</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding-x">
                    <table class="table">
                        <tr ng-repeat="lastUpdate in dashboard.lastUpdates">
                            <td><i class="dashboard-update-icon {{lastUpdate.iconClass}}"></i> {{lastUpdate.name}}</td>
                            <td class="text-right">{{lastUpdate.date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Derniers check</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding-x">
                    <table class="table">
                        <tr ng-repeat="lastCheck in dashboard.lastChecks">
                            <td>{{lastCheck.student}}</td>
                            <td class="text-right">{{lastCheck.date}}</td>
                        </tr>
                        <tr ng-show="dashboard.lastChecks.length == 0">
                            <td>Aucun résultat</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>