<header class="main-header">
    <a ui-sref="dashboard" class="logo">
        <span class="logo-mini"><b>Cop</b></span>
        <span class="logo-lg"><b>Cops</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/img/amet.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{$root.user.principal.firstname + ' ' + $root.user.principal.lastname}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="assets/img/amet.jpg" class="img-circle" alt="User Image">

                            <p>
                                {{$root.user.principal.firstname + ' ' + $root.user.principal.lastname}} - Ingénieur de formation
                                <small>Membre depuis Nov. 1885</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="" ng-click="logout()" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</header>