<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a ui-sref="dashboard">
                    <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
                </a>
            </li>
            <li>
                <a ui-sref="classroom">
                    <i class="fa fa-university"></i> <span>Salles de cours</span>
                </a>
            </li>
            <li>
                <a ui-sref="cop">
                    <i class="fa fa-eye"></i> <span>Cops</span>
                </a>
            </li>
            <li>
                <a ui-sref="grade">
                    <i class="fa fa-users"></i> <span>Promotions</span>
                </a>
            </li>
            <li>
                <a ui-sref="lesson">
                    <i class="fa fa-laptop"></i> <span>Cours</span>
                </a>
            </li>
            <li>
                <a ui-sref="teacher">
                    <i class="fa fa-user"></i> <span>Intervenants</span>
                </a>
            </li>
            <li>
                <a ui-sref="student">
                    <i class="fa fa-graduation-cap"></i> <span>Etudiants</span>
                </a>
            </li>
        </ul>
    </section>
</aside>